<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> et bienvenue à l'évenement <%= @event.title %> le <%= @event.start_date %>! !</h1>
    <p>
      Tu t'es inscrit sur monsite.fr en utilisant l'e-mail suivant : <%= @user.email %> à l'evenement suivant <%= @event.title %> le <%= @event.start_date %>!.
    </p>
    
    <p> À très vite sur eventbis.fr !
  </body>
</html>